@media screen and (min-width:768px) {
  .flex{
    display:flex;
    justify-content:center;
    align-items:center;
  }
}

#wrap{
  width:100%; /*ページ全体の幅は100%と指定する*/
  text-align:center; /*ページ全体を中央揃えにする*/
  overflow: hidden;
}


@media screen and (min-width: 960px) {
  #wrap2{
    width:70%;
    text-align:center; /*ページ全体を中央揃えにする*/
    margin-left: auto;
    margin-right: auto;
  }
}

body{
  margin:0;
  /* padding:0; */
}

.resizeimg img {
  width: 90%;
}

.box30 {
  text-align:center; /*ページ全体を中央揃えにする*/
  line-height:3em;
  margin: 2em 2em;
  background: #FFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
}

@media screen and (min-width: 768px) {
  .box30 {
    margin: 2em 1em;
  }
}

@media screen and (min-width: 768px) and (max-width: 960px) {
  .rightbox{
    margin-right:1em;
  }
  .leftbox{
    margin-left:1em;
  }
  .bottombox{
    margin-left:1em;
    margin-right:1em;
  }
}

.box30 .box-title {
  text-align:center; /*ページ全体を中央揃えにする*/
  font-size: 1.2em;
  background: #ceea80;
  padding: 4px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.box17{
  margin-top:2em;
  margin-left: 2em;
  margin-right: 2em;
  position: relative;
  border-top: solid 2px #ceea80;
  border-bottom: solid 2px ;
  padding: 0.5em 1.5em;
  border: double 5px #ceea80;
  text-align:left;
  border-radius: 10px;/*角の丸み*/
}
@media screen and (min-width: 960px) {
  .box17{
    margin-right: 1em;
    margin-left: 1em;
}
}

.box17 h4 ul{
  margin: 0;
  padding: 0;
}

.header {
  background-color: #ceea80;
  width: 100%;
  height: 50px;
  z-index: 999;
}


@media screen and (min-width: 960px) {
  .header {
    height: 80px;
  }
}


.header__inner {
  padding: 0 20px;
  display: flex;
}

.header__inner h4{
  text-align: left;
}

.header h2{
  text-align: center;
  text-shadow: 0 1px 0 #fff;
}

@media screen and (max-width:768px) {
  .header h2{
    font-size: medium;
  }
}

@media screen and (max-width:960px) {
  .header h2{
    font-size: large;
  }
}


button {
  width:20%;
  /* position: relative; */
  display: inline-block;
  text-decoration: none;
  color: #000000;
  background: #f1f1f1;/*色*/
  border: solid 1px #fff;/*線色*/
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
  text-shadow: 0 1px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
  line-height:3em;
}

label{
  width:90%;
  margin:1em;
  /* position: relative; */
  display: inline-block;
  text-decoration: none;
  color: #000000;
  background: #f1f1f1;/*色*/
  border: solid 1px #fff;/*線色*/
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
  text-shadow: 0 1px 0 rgba(0,0,0,0.2);
  cursor: pointer;
  line-height:2em;
}

input {
  display: none;
}

a {
  color:inherit;
  text-decoration: none;
}

.download {
  pointer-events: none;

}

.download a {
  cursor: default;
  opacity: 0.4;
}

.out {
  margin-top:1em;
}