@media screen and (min-width:768px) {
  .flex{
    display:flex;
    justify-content:center;
    align-items:center;
  }
}

#wrap{
  width:100%; /*ページ全体の幅は100%と指定する*/
  text-align:center; /*ページ全体を中央揃えにする*/
  overflow: hidden;
}

body{
  margin:0;
  padding:0;
}

.resizeimg img {
  width: 90%;
}

.box30 {
  line-height:3em;
  margin: 2em 2em;
  background: #FFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
}

.box30 .box-title {
  font-size: 1.2em;
  background: #ceea80;
  padding: 4px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.header {
  background-color: #ceea80;
  width: 100%;
  height: 50px;
}


@media screen and (min-width: 960px) {
  .header {
    height: 80px;
  }
}


.header__inner {
  padding: 0 20px;
  display: flex;
}

.header h4{
  text-align: center;
}

button {
  width:20%;
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #000000;
  background: #f1f1f1;/*色*/
  border: solid 1px #fff;/*線色*/
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
  text-shadow: 0 1px 0 rgba(0,0,0,0.2);
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
  line-height:3em;
}

label{
  width:90%;
  margin:1em;
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #000000;
  background: #f1f1f1;/*色*/
  border: solid 1px #000000;/*線色*/
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
  text-shadow: 0 1px 0 rgba(0,0,0,0.2);
  cursor: pointer;
  line-height:2em;
}

input {
  display: none;
}

a {
  color:inherit;
  text-decoration: none;
}

.out {
  margin-top:1em;
}