<!DOCTYPE html>
<html lang="ja">
<div id="wrap">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:title" content="デレステ セリフ付アイドル画像生成" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:url" content="https://sl-stage-composer.onrender.com/" />
    <meta property="og:image" content="https://sl-stage-composer.onrender.com/static/img/thumbnail.png" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <title>デレステ セリフ付アイドル画像生成</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
    <header class="header">
        <div class="header__inner">
          <h2 class="header__title">
              デレステ セリフ付アイドル画像生成
          </h2>
        </div>
    </header>
    <div id="wrap2">
    <div class="box17">
        <h3>対応端末</h3>
        <ul>
          <li>iPhone 14</li>
          <li>iPhone 13/13 Pro</li>
          <li>iPhone 12/12 Pro</li>
        </ul>
    </div>
    <form action="/" name="submitForm" enctype="multipart/form-data">
    <div class="flex">
      <div class="leftbox">
        <div class="box30">
            <div class="box-title">ホーム画像</div>
            <label>
              <input type="file" name="img1" accept="image/*" required onchange="previewFile(this,'preview1');hiddenElem('initimg1');buttonOn();previewDisplay('preview1');">ファイルを選択
            </label>
            <div class="resizeimg">
              <img src="{{ url_for('static', filename='img/initial-home-img.png') }}" id="initimg1" style="opacity:0.3;" alt="">
              <img id="preview1" alt="" style="display:none">
            </div>
        </div>
      </div>
      <div class="rightbox">
        <div class="box30" id="rightbox">
            <div class="box-title">アイドル画像</div>
            <label>
              <input type="file" name="img2" accept="image/*" required onchange="previewFile(this,'preview2');hiddenElem('initimg2');buttonOn();previewDisplay('preview2');">ファイルを選択
            </label>
            <div class="resizeimg">
              <img src="{{ url_for('static', filename='img/initial-idol-img.png') }}" id="initimg2" style="opacity: 0.3" alt="">
              <img id="preview2" alt="" style="display:none">
            </div>
        </div>
        </div>
    </div>
    <div>
        <button type="submit"  name="compose" id="submitbutton" formmethod="post" style="opacity:0.4" disabled>合成</button>
    </div >
    <div class="bottombox">
    <div id="bottombox" class="box30">
        <div class="box-title">合成結果</div>
            <div class="resizeimg">
              {% if img_path %}
              <img class="out" src="{{ url_for('static', filename='img/initial-out-img.png') }}" id="initimg3" style="opacity:0.3;display:none"  alt="">
              <img class="out" src="{{ img_path }}" id="img3" alt="">
              <label id="dllabel">
                <a id="dllink" href="{{ img_path }}" download="img.png">画像を保存</a>
              </label>
              <script>
                const bottombox = document.getElementById('bottombox');
                const dllabel = document.getElementById('dllabel');
                const dllink = document.getElementById('dllink');
                const initimg3 = document.getElementById('initimg3');
                const img3 = document.getElementById('img3');
                window.addEventListener("load", function() {
                    bottombox.scrollIntoView(true);
                }, false);
                if(window.performance) {
                    if (window.performance.navigation.type==1) {
                        dllabel.style.pointerEvents = "none";
                        dllink.style.opacity = 0.4;
                        dllink.style.cursor = "default";
                        dllink.href = "";
                        initimg3.style.display= "inline";
                        img3.style.display= "none";
                    }
                }
              </script>
              {% else %}
              <img class="out" src="{{ url_for('static', filename='img/initial-out-img.png') }}" style="opacity: 0.3" alt="">
              <label class="download">
                <a href="" download=""img.png>画像を保存</a>
              </label>
              {% endif %}
          </div>
    </div>
  </div>
</form>
</div>
<script src="{{ url_for('static', filename='javascript/hoge.js') }}"></script>
</body>
</div>
</html>