<!DOCTYPE html>
<html lang="ja">
<div id="wrap">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>デレステセリフ付画像合成</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
    <header class="header">
        <div class="header__inner">
          <h4 class="header__title">
              デレステセリフ付画像合成
          </h4>
        </div>
    </header>
    <form action="/" name="submitForm" enctype="multipart/form-data">
    <div class="flex">
        <div class="box30">
            <div class="box-title">ホーム画像</div>
            <label>
              <input type="file" name="img1" accept="image/*" required onchange="previewFile(this,'preview1');hiddenElem('initimg1');buttonOn();previewDisplay('preview1');">ファイルを選択
            </label>
            <div class="resizeimg">
              <img src="{{ url_for('static', filename='img/initial-home-img.png') }}" id="initimg1" style="opacity:0.3;" alt="">
              <img id="preview1" alt="" style="display:none">
            </div>
        </div>
        <div class="box30">
            <div class="box-title">アイドル画像</div>
            <label>
              <input type="file" name="img2" accept="image/*" required onchange="previewFile(this,'preview2');hiddenElem('initimg2');buttonOn();previewDisplay('preview2');">ファイルを選択
            </label>
            <div class="resizeimg">
              <img src="{{ url_for('static', filename='img/initial-idol-img.png') }}" id="initimg2" style="opacity: 0.3" alt="">
              <img id="preview2" alt="" style="display:none">
            </div>
        </div>
    </div>
    <div>
        <button type="submit"  name="compose" id="submitbutton" formmethod="post" style="opacity:0.4" disabled>合成</button>
    </div >
    <div id="bottombox" class="box30">
        <div class="box-title">合成結果</div>
            <div class="resizeimg">
              {% if img_path %}
              <script>
                const bottombox = document.getElementById('bottombox');
                const dllabel = document.getElementById('dllabel');
                const dllink = document.getElementById('dllink');
                window.addEventListener("load", function() {
                    bottombox.scrollIntoView(true);
                }, false);
              </script>
              <img class="out" src="{{ img_path }}" alt="">
              <label>
                <a href="{{ img_path }}" download=""img.png>画像を保存</a>
              </label>
              {% else %}
              <img class="out" src="{{ url_for('static', filename='img/initial-out-img.png') }}" id="initimg3" style="opacity: 0.3"  alt="">
              <label class="download">
                <a id="dllink" href="{{ img_path }}" download=""img.png>画像を保存</a>
              </label>
              {% endif %}
          </div>
</div>
</form>
<script src="{{ url_for('static', filename='javascript/hoge.js') }}"></script>
</body>
</div>
</html>